@import "./variables/font";
@import "./variables/colors";
@import "./components/footer";
@import "./components/header";
@import "./pages/homePage";
@import "./functions/mixin";
@import "./pages/blogPage";
@import "./components/blogPost";
@import "./components/createPost";
@import "./components/editForm";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 7px;
  background-color: $secondaryColor;
  border: 1px solid $primaryColor;
  border-radius: 4px;
}
