@import "./components/footer";
@import "./components/header";
@import "./pages/homePage";
@import "./functions/mixin";
@import "./pages/blogPage";
@import "./components/blogPost";
@import "./components/createPost";
@import "./components/editForm";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Josefin Slab", serif;
}
