@import "./variables/font";
@import "./variables/colors";
@import "./functions/mixin";
@import "./components/footer";
@import "./components/header";
@import "./components/blogPost";
@import "./components/createPost";
@import "./components/editForm";
@import "./components/logIn";
@import "./pages/layout";
@import "./components/snackbar";
@import "./components/profile";
@import "./mediaQuerys";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
