.home-container {
  min-height: 100vh;
  max-width: 100vw;
  background-color: $secondaryColor;
  display: flex;
  justify-content: center;

  main {
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
    li {
      padding: 1em;
    }

    padding: 1em;
    width: 80%;
    background-color: $baseColor;
    min-height: 100%;
  }
}
