.layout {
  min-height: 100vh;
  max-width: 100vw;
  background-color: $secondaryColor;
  @include flex-row;
  @include text-style;

  ul {
    @include flex-column;
    list-style-type: none;
  }
  li {
    padding: 1em;
  }
  aside {
    width: 20%;
    padding: 1em;
    background-color: $baseColor;
    margin-right: 5em;
    min-height: 100%;
    border-left: 1px solid $primaryColor;
  }

  main {
    padding: 1em;
    width: 80%;
    background-color: $baseColor;
    margin-left: 5em;
    min-height: 100%;

    .row-spacebetween {
      @include flex-row;
      justify-content: space-between;
    }

    .row-center {
      @include flex-row;
      @include center;
    }
  }
}
