.layout {
  min-height: 100vh;
  max-width: 100vw;
  background-color: $secondaryColor;
  @include flex-row;
  @include text-style;

  ul {
    @include flex-column;
    list-style-type: none;
  }
  li {
    padding: 1em;
    font-family: $fontParagraph;
  }
  aside {
    width: 20%;
    padding: 1em;
    background-color: $baseColor;
    margin-right: 5em;
    min-height: 100%;
    border-left: 1px solid $primaryColor;

    li {
      cursor: pointer;
    }
  }

  main {
    padding: 1em;
    width: 80%;
    background-color: $baseColor;
    margin-left: 5em;
    min-height: 100%;

    .row-spacebetween {
      @include flex-row;
      justify-content: space-between;
    }

    .row-center {
      @include flex-row;
      @include center;
    }
  }

  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .layout {
    @include flex-column;

    aside {
      width: 100%;
      margin: 0;
    }

    main {
      width: 100%;
      margin: 0;
    }

    .mobile {
      display: block;
    }

    .row-wrap ul {
      @include flex-row;
      flex-wrap: wrap;

      li {
        padding: 5px;
        cursor: pointer;
      }
    }

    .desktop {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .layout {
    aside {
      margin: 0;
    }

    main {
      margin: 0;
    }
  }
}
