@import "../functions/mixin";

header {
  max-width: 100vw;
  height: 5em;
  background-color: #d7bedb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  .search-container {
    display: flex;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    background-color: #fff;
    .search-field {
      border: none;
      outline: none;
      color: #575757;
      background-color: #fff;
    }

    .search-button {
      background-color: #fff;
      border: none;
      cursor: pointer;
      outline: none;
    }

    i {
      color: #575757;
    }
  }
}
