header {
  max-width: 100vw;
  height: fit-content;
  background-color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  @include text-style;

  .search-container {
    max-width: 300px;
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    background-color: $baseColor;
    .search-field {
      border: none;
      outline: none;
      color: $textColorLight;
      background-color: $baseColor;
    }

    .search-button {
      background-color: $baseColor;
      border: none;
      cursor: pointer;
      outline: none;
    }

    i {
      color: $textColorLight;
    }
  }

  .NavBar {
    height: fit-content;
    background-color: $primaryColor;
    @include center;

    padding: 5px;
    ul {
      @include flex-row;
      list-style-type: none;
      padding: 2px;
    }

    li {
      padding-left: 5px;
      font-family: $fontParagraph;
      cursor: pointer;
    }

    ul li:hover {
      font-size: large;
    }
  }

  .mobile {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    .NavBar {
      display: none;
    }

    .mobile-navbar {
      display: inline-block;
      position: relative;
    }

    .drop-down-menu {
      display: block;
      position: absolute;
      background-color: $primaryColor;
      min-width: 150px;
      min-height: 10em;
      right: -15px;
      margin-top: 20px;
      padding: 1em;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;

      ul {
        @include flex-column;
        align-items: center;
        list-style-type: none;
        padding: 1em;
      }

      li {
        padding-bottom: 15px;
        font-family: $fontParagraph;
        cursor: pointer;
      }

      ul li:hover {
        font-size: large;
      }
    }

    .mobile-nav {
      display: inline-block;
      position: relative;
    }

    .mobile {
      display: block;
    }
  }
}
