@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-style {
  h1,
  h2,
  h3 {
    font-family: $fontHeading;
    color: $textColor;
  }

  p {
    font-family: $fontParagraph;
    color: $textColor;
  }
}
